@model LibraryManagement.Models.Branch.BranchDetailModel

@{
    ViewData["Title"] = "Create Library Branch";
}

<div class="container content">
    <h3>@ViewData["Title"]</h3>
    <hr />
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 card mb-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telephone" class="control-label"></label>
                    <input asp-for="Telephone" class="form-control phone" />
                    <span asp-validation-for="Telephone" class="text-danger msg"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OpenedDate" class="control-label"></label>
                    <input asp-for="OpenedDate" class="form-control" />
                    <span asp-validation-for="OpenedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="Image" name="image" class="form-control custom-file-input" style="cursor:pointer" />
                        <label class="custom-file-label">Choose File</label>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Create" class="btn btn-primary btn-sm" />
                    <a asp-action="Index" asp-controller="Branch" class="btn btn-secondary text-white btn-sm">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var input = document.querySelector('.custom-file-input');
        var phone = document.querySelector(".phone");
        var span = document.querySelector(".msg");

        input.addEventListener("change", ChageName);
        phone.addEventListener("blur", ValidatePhone);

        function ChageName() {
            var filename = input.value;
            document.querySelector('.custom-file-label').innerHTML = filename.substring(filename.lastIndexOf("\\") + 1);
        }

        function ValidatePhone() {
            var re = /^[0-9]{6,8}(-[0-9]{4})$/;
            if (!re.test(phone.value)) {
                span.textContent = "This field must be xxxxxx-xxxx or xxxxxxxx-xxxx ";
                phone.value = "";
            }
        }
    </script>
}

