@model LibraryManagement.Models.CheckoutModels.CheckoutModel
@{
    ViewBag.Title = @Model.Title;
}
<div class="container content">
    <div class="header clearfix detailHeading">
        <h3 class="text-muted">Checkout Library Item</h3>
        <hr />
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <p class="lead">@Model.Title</p>
                        <img class="detailImage" src="~/Images/assets/@Model.ImageUrl" />
                    </div>
                </div>
                <div class="col-md-9">
                    <form asp-action="PlaceCheckout">
                        <input type="hidden" asp-for="AssetId" />
                        <div class="form-group col-md-5">
                            Please insert a Library Card ID.
                            <div class="input-group-sm mt-1">
                                <input asp-for="LibraryCardId" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="submit" class="btn btn-success btn-sm" value="Check out">
                            <a asp-action="Detail" asp-route-id="@Model.AssetId" asp-controller="Catalog" class="btn btn-secondary btn-sm">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>