@model LibraryManagement.Models.Book.BookDetailModel

@{
    ViewData["Title"] = "Edit Book: " + Model.Title;
}
<div class="container content">
    <h3>@ViewData["Title"]</h3>
    <hr />
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 mb-4 card">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" class="form-control" type="hidden" />
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfCopies" class="control-label"></label>
                    <input asp-for="NumberOfCopies" class="form-control" />
                    <span asp-validation-for="NumberOfCopies" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <img src="~/Images/assets/@Model.ImageUrl" alt="@Model.ImageUrl" class="imageCell" />
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="Image" name="image" class="form-control custom-file-input" style="cursor:pointer" />
                        <label class="custom-file-label">Choose File</label>
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cost" class="control-label"></label>
                    <input asp-for="Cost" class="form-control cost" />
                    <span asp-validation-for="Cost" class="text-danger cost-msg"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ISBN" class="control-label"></label>
                    <input asp-for="ISBN" class="form-control isbn" />
                    <span asp-validation-for="ISBN" class="text-danger msg"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control isbn" />
                    <span asp-validation-for="Year" class="text-danger msg"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <select asp-for="LibraryBranchId" class="form-control" asp-items="@(new SelectList(Model.Branches, "Id","Name"))">
                        <option></option>
                    </select>
                    <span asp-validation-for="LibraryBranchId" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                    <a asp-action="Index" asp-controller="Catalog" class="btn btn-secondary text-white btn-sm">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var input = document.querySelector('.custom-file-input');
        var isbn = document.querySelector(".isbn");
        var cost = document.querySelector(".cost");
        var cost_msg = document.querySelector(".cost-msg");

        var span = document.querySelector(".msg");

        input.addEventListener("change", ChageName);
        isbn.addEventListener("blur", ValidateISBN);
        cost.addEventListener("blur", ValidateCost);

        function ChageName() {
            var filename = input.value;
            document.querySelector('.custom-file-label').innerHTML = filename.substring(filename.lastIndexOf("\\") + 1);
        }

        function ValidateISBN() {
            var re = /^[0-9]{2,8}/;
            if (!re.test(isbn.value)) {
                span.textContent = "This field must be between 2 and 8 characters ";
                isbn.value = "";
            }
        }

        function ValidateCost() {
            var re = /^[0-9]{1,4}(,[0-9]{2})$/;
            if (!re.test(cost.value)) {
                cost_msg.textContent = "Ex: 12,85 ";
                cost.value = "";
            }
        }
    </script>
}